<form role="form" action="#/add-book/" accept-charset="UTF-8" method="post" class="add-book-form">
  <fieldset>
    <legend>Which book did you read?</legend>
    <label for="book-name">Book</label>
    <input type="text" placeholder="1Q84" name="title" id="title" required/>
    <label for="author">Author</label>
    <input placeholder="Haruki Murakami" type="text" name="author" id="author" required/>
    <label for="date-finished">Date Finished</label>
    <input placeholder="1984-01-01" type="date" name="date" id="date" required/>
    <button type="submit">Add Book</button>
  </fieldset>
</form>