<H1>My Library</H1>
<div class="books-table">
  <div class="table100 ver1 m-b-110">
    <div class="loader"></div>
    <table data-vertable="ver1">
      <thead>
        <tr class="row100 head">
          <th class="column100 column1" data-column="column1">Title</th>
          <th class="column100 column2" data-column="column2">Author</th>
          <th class="column100 column3" data-column="column3">Date Completed</th>
          <th class="column100 column4" data-column="column4">Comments</th>
          <th class="column100 column5" data-column="column5">Edit or Remove</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>