<form role="form" action="#/login/" accept-charset="UTF-8" method="post" class="signup-form">
  <fieldset>
    <legend>Log In</legend>
    <label for="user-email">Email</label>
    <input type="email" placeholder="foo@bar.com" name="user-email" id="user-email" required/>
    <label for="user-password">Password</label>
    <input placeholder="1234passw0rd" type="password" name="user-password" id="user-password" required/>
    <button type="submit">Log In</button>
  </fieldset>
</form>

<footer role="contentinfo" class="footer">
  <p>Need have an account? <a href="#/signup/">Sign Up</a></p>
</footer>