<form role="form" action="#/signup/" accept-charset="UTF-8" method="post" class="signup-form">
  <fieldset>
    <legend>Sign up</legend>
    <label for="user-email">Email</label>
    <input type="email" placeholder="foo@bar.com" name="user-email" id="user-email" required/>
    <label for="user-password">Password</label>
    <input placeholder="1234passw0rd" type="password" name="user-password" id="user-password" required/>
    <label for="user-cellphone">Cellphone</label>
    <input placeholder="555-555-5555" type="phone" name="user-cellphone" id="user-cellphone" required/>
    <button type="submit">Sign up</button>
  </fieldset>
</form>

<footer role="contentinfo" class="footer">
  <p>Already have an account? <a href="#/login/">Log in</a></p>
</footer>