body {
  background: #298eea;
  font-family: "Roboto", helvetica, sans-serif;
  padding: 60px 0 0;
  margin: 0;
  font-size: 18px;
}

body * {
  box-sizing: border-box;
}

/* Potentially tricky: fieldset comes with default styles we must override. */
fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

.logo {
  display: block;
  width: auto;
  height: 35px;
  margin: 0 auto 30px;
}

form {
  width: 400px;
  padding: 40px;
  border-radius: 3px;
  background: white;
  margin: 0 auto;
}

form legend {
  width: 100%;
  line-height: 38px;
  font-size: 35px;
  font-weight: 300;
  color: #565656;
  text-align: center;
  letter-spacing: 0;
  margin: 0 auto 45px;
}


input, button[type="submit"] {
  display: block;
  width: 100%;
  height: auto;
  font-size: 18px;
  text-align: left;
  padding: 15px;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  background: #fcfcfc;
  margin: 10px auto 20px;
  transition: opacity 0.4s;
}

button[type="submit"] {
  height: auto;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: white;
  background: #15CD72;
  border: 0;
  cursor: pointer;
  margin-bottom: 0;
  
}


input, button[type="submit"]:focus {
 /* Restore desirable focus behavior 
 in non-webkit browsers like Firefox */
 outline: auto 2px #87ceeb;
 /* Preseve default focus behavior in webkit browsers */
 outline: auto 5px -webkit-focus-ring-color;
 box-shadow: 0;
}


button[type="submit"]:hover,
button[type="submit"]:focus {
  background-color: #0CB863;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}

.signup-form p {
  font-size: 16px;
  text-align: center;
  margin: 10px 0 0;
  color: #696969;
}

.signup-form a {
  color: #999;
  text-decoration: none;
  border-bottom: 1px solid #bbb;
}

.signup-form a:hover {
  border-color: #999;
  color: #777;
}

/* footer */
.footer {
  text-align: center;
  color: white;
  margin: 20px auto;
  font-weight: 600;
  border: 0;
  padding: 0;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #E7F1F9; 
}


#flash-message {
  width:400px;
  min-height: 30px;
  background: #CCCCCC;
  color:#060;
  line-height:30px;
  border:1px solid #808080;
  font-family:arial, helvetica, sans-serif;
  font-size:12pt;
  margin-top:30px;
}

#flash-message span {
  text-align: center;
  margin-top: 20px;
  color: black;
}