body {
  background: #298eea;
  font-family: "Roboto", helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

h1 {
  color: #ffff;
}

body * {
  box-sizing: border-box;
}

header {
  margin-bottom: 50px;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #0CB863;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

/* END Nav bar*/


fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

form {
  width: 400px;
  padding: 40px;
  border-radius: 3px;
  background: white;
  margin: 0 auto;
}

form legend {
  width: 100%;
  line-height: 38px;
  font-size: 35px;
  font-weight: 300;
  color: #565656;
  text-align: center;
  letter-spacing: 0;
  margin: 0 auto 45px;
}


textarea, input, button[type="submit"] {
  display: block;
  width: 100%;
  height: auto;
  font-size: 18px;
  text-align: left;
  padding: 15px;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  background: #fcfcfc;
  margin: 10px auto 20px;
  transition: opacity 0.4s;
}

button[type="submit"] {
  height: auto;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: white;
  background: #15CD72;
  border: 0;
  cursor: pointer;
  margin-bottom: 0; 
}

button[type="submit"]:hover,
button[type="submit"]:focus {
  background-color: #0CB863;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}


button.delete {
  background: #cd8613; 
}

button.delete:hover,
button.delete:focus {
  background-color: #cd6f11;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}

button a {
  text-decoration: none;
  color: white;
}


textarea, input, button[type="submit"]:focus {
 /* Restore desirable focus behavior 
 in non-webkit browsers like Firefox */
 outline: auto 2px #87ceeb;
 /* Preseve default focus behavior in webkit browsers */
 outline: auto 5px -webkit-focus-ring-color;
 box-shadow: 0;
}


.signup-form p {
  font-size: 16px;
  text-align: center;
  margin: 10px 0 0;
  color: #696969;
}

.signup-form a {
  color: #999;
  text-decoration: none;
  border-bottom: 1px solid #bbb;
}

.signup-form a:hover {
  border-color: #999;
  color: #777;
}

/* footer */
.footer {
  text-align: center;
  color: white;
  margin: 20px auto;
  font-weight: 600;
  border: 0;
  padding: 0;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #E7F1F9; 
}


#flash-message {
  /*width:400px;*/
  min-height: 30px;
  background: #CCCCCC;
  color:#060;
  border:1px solid #808080;
  border-radius: 4%;
  margin-top:30px;
}

#flash-message span {
  width: 100%;
  line-height: 38px;
  font-size: 18px;
  color: #565656;
  text-align: center;
  letter-spacing: 0;
  margin: 0 auto 45px;
  padding: 0 5px 0;
}

.container-wide {
  max-width: 85%;
  padding: 1em;
  margin: 1em auto;
}

.button-container {
  width: 200px;
  margin-bottom: 30px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #d1d1d1;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1300px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  width: 100%;
  background-color: #fff;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  width: 130px;
  padding-left: 25px;
}

.column100.column1 {
  width: 265px;
  padding-left: 42px;
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}


.table100.ver1 td {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver1 th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #444;
}

.table100.ver1 .row100:hover td {
  background-color: #83d160;
  color: #fff;
}

.table100.ver1 .hov-column-ver1 {
  background-color: #83d160;
  color: #fff;
}

.table100.ver1 .hov-column-head-ver1 {
  background-color: #484848 !important;
}

.table100.ver1 .row100 td:hover {
  background-color: #57b846;
  color: #fff;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

  .container,
  .container-wide, 
  .books-table {
    width: 100%l
  }
}

